<div class="content">
    
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 class="dialog-title">Add Training Record</h2>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Date & Time</mat-label>
        <input matInput type="datetime-local" formControlName="datetime" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Training Type</mat-label>
        <mat-select formControlName="trainingType">
            <mat-option *ngFor="let type of trainingTypes" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width" *ngIf="activities.length">
        <mat-label>Activity</mat-label>
        <mat-select formControlName="activity">
          <mat-option *ngFor="let act of activities" [value]="act.value">
            {{ act.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <div *ngIf="detailsVisible" formGroupName="details">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Duration (minutes)</mat-label>
        <input matInput type="number" formControlName="duration" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Difficulty (1–10)</mat-label>
        <input matInput type="number" formControlName="difficulty">
      </mat-form-field>
    
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Fatigue (1–10)</mat-label>
        <input matInput type="number" formControlName="fatigue">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Calories burned</mat-label>
        <input matInput formControlName="calories">
      </mat-form-field>
        
    
    </div>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Notes</mat-label>
        <textarea matInput formControlName="notes" rows="3"></textarea>
    </mat-form-field>
    
  <div class="actions">
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
    <button mat-button mat-dialog-close type="button">Cancel</button>
  </div>
</form>
</div>