<div class="card-grid" inViewport (visible)="onSectionVisible()" [class.visible]="sectionVisible">
    <!-- Total minutes -->
    <mat-card class="metric">
      <mat-icon fontSet="material-symbols-outlined">timer</mat-icon>
      <h3 mat-card-title>
        <div
          [countUp]="sectionVisible ? stats.totalMinutes : 0">0</div>
      </h3>
      <p  mat-card-subtitle>Total Minutes</p>
    </mat-card>
    <mat-card class="metric">
      <mat-icon fontSet="material-symbols-outlined">checklist</mat-icon>
      <h3 mat-card-title>
        <div
          [countUp]="sectionVisible ? stats.sessions : 0">0</div>
      </h3>
      <p mat-card-subtitle>Training sessions</p>
  </mat-card>
  
    <!-- Total calories -->
    <mat-card class="metric">
      <mat-icon fontSet="material-symbols-outlined">local_fire_department</mat-icon>
      <h3 mat-card-title>
        <div
          [countUp]="sectionVisible ? stats.totalCalories : 0">0</div>
      </h3>
      <p  mat-card-subtitle>Calories Burned</p>
    </mat-card>
  
    <!-- Favourite type -->
    <mat-card class="metric">
      <mat-icon matCardAvatar>
        {{ stats.favouriteType.toLowerCase() === 'cardio'       ? 'directions_run'
           : stats.favouriteType.toLowerCase() === 'strength'   ? 'fitness_center'
           : stats.favouriteType.toLowerCase() === 'flexibility'? 'self_improvement'
           : stats.favouriteType.toLowerCase() === 'recovery'   ? 'autorenew'
           : 'push_pin' }}
      </mat-icon>
      <h3 mat-card-title>{{ stats.favouriteType }}</h3>
      <p  mat-card-subtitle>Favourite Training</p>
    </mat-card>
  
    <!-- Average difficulty -->
    <mat-card class="metric">
      <mat-icon fontSet="material-symbols-outlined">readiness_score</mat-icon>
      <h3 mat-card-title>
        <div
          [countUp]="sectionVisible ? stats.avgDifficulty : 0"
          [options]="{
            suffix: '/10',
            decimalPlaces: 1,
            duration: 2,
          }">0</div>
      </h3>
      <p  mat-card-subtitle>Avg Difficulty</p>
    </mat-card>
  
    <!-- Average fatigue -->
    <mat-card class="metric">
      <mat-icon fontSet="material-symbols-outlined">battery_alert</mat-icon>
      <h3 mat-card-title>
        <div
          [countUp]="sectionVisible ? stats.avgFatigue : 0"
          [options]="{
            suffix: '/10',
            decimalPlaces: 1,
            duration: 2,
          }">0</div>
      </h3>
      <p  mat-card-subtitle>Avg Fatigue</p>
    </mat-card>
  </div>