.container{
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
    width: 100%;
}
.side-panel {
    flex: 1;
    min-width: 100px;
    max-width: 350px;
    background-color:white; 
}
.main-panel {
    flex: 2;
    padding: 1rem;
    min-width: 300px;
    max-width: 900px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color:#e6e4e4;
    margin: 0;
    box-shadow:
        -10px 0 10px -5px darkblue,
        30px 0 30px -5px rgb(139, 0, 0);

}
html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
    }
    .side-panel {
        display: none;
    }
    .main-panel {
        flex: none;
        width: 100%;
        max-width: none;
        overflow-x: auto;
    }
}