:host {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
  
  .placeholder {
    text-align: center;
    padding: 24px;
    font-style: italic;
    color: #666;
  }
  
  .nav-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  