<app-month-summary-cards
  *ngIf="!monthLoading"
  [stats]="monthStats">
</app-month-summary-cards>

<app-weekly-chart
  *ngIf="!monthLoading"
  [series]="weekSeries"
  (weekSelect)="onWeekSelect($event)">
</app-weekly-chart>

<ng-container *ngIf="weekLoading">
  <mat-spinner></mat-spinner>
</ng-container>


<div 
    #weekCards 
    *ngIf="!weekLoading"
    inViewport
    (visible)="onSectionVisible()"
    [class.visible]="sectionVisible">    
  <app-week-summary-cards
    
    *ngIf="selectedWeekStats"
    [weekStats]="selectedWeekStats">
    
  </app-week-summary-cards>
  
  <mat-card
    *ngIf="!selectedWeekStats"
    class="placeholder">
    Select a week in the chart to view its averages
  </mat-card>
</div>
