<div class="content">
    <form [formGroup]="registrationForm" (ngSubmit)="register()" class="form-style">
      <h2>Sign Up</h2>
  
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="registrationForm.get('name')?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Surname</mat-label>
        <input matInput formControlName="surname" />
        <mat-error *ngIf="registrationForm.get('surname')?.hasError('required')">
          Surname is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="registrationForm.get('username')?.hasError('required')">
          Username is required
        </mat-error>
        <mat-error *ngIf="registrationForm.hasError('usernameTaken')">
          Username is already taken
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="registrationForm.get('password')?.hasError('minlength')">
          Minimum 8 characters
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
        <mat-error *ngIf="registrationForm.hasError('passwordMismatch')">
          Passwords do not match
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">
        Register
      </button>
  
      <div class="dont-have-account">
        <p class="less-visible">Already registered?</p>
        <p class="sign-up"><a routerLink="/login">Log in</a></p>
      </div>
    </form>
  </div>
  