/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.training-dialog .mat-dialog-container {
    border-radius: 6px;
    padding: 24px 24px 16px;   
    overflow: hidden;
}
*,*::before, *::after{
    box-sizing: border-box;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar{
    width: 8px;
    height: auto;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.2);  /* semi-transparent */
    border-radius: 4px;
    transition: background-color 0.3s;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 0, 0, 0.5);  /* more opaque on hover */
}
::-webkit-scrollbar-corner{
    background: transparent;
}