/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.training-dialog .mat-dialog-container {
    border-radius: 6px;
    padding: 24px 24px 16px;   
    overflow: hidden;
}